<div class="container">
    <form [formGroup]="formClient" class="md-float-material">
         <div class="auth-box">
            <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Clientes</h3>
                </div>
            </div>
         
            <div class="input-group">
              <input formControlName="identidad" type="number" 
              class="form-control" placeholder="Número de Identificación del cliente">
              <span class="md-line"></span>
            </div>
         
          <div class="row m-t-30">
              <div class="col-md-4">
                <button
                (click)="buscarCliente()"
                [disabled]="!formClient.valid"
                type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                Buscar Cliente</button>
              </div>
          </div>
         </div>
    </form>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre contrato</th>
          <th scope="col">Identidad Abogado Asignado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let contrato of listContratosEncontrados">
          <th scope="row">{{contrato.id}}</th>
          <td>{{contrato.nombreContrato}}</td>
          <td>{{contrato.identidadAbogado}}</td>
          <td>
            <a target="_blank" href="{{apiUrl}}/contratos/contrato/{{contrato.identidadCliente}}/{{contrato.nombreArchivo}}"
              class="btn-outline mr-3"
              title="ver contrato"
            >
              <i class="ti-file"></i>
          </a>
          <a 
              class="btn-outline"
              title="Seleccionar contrato"
            >
              <i class="ti-arrow-right"></i>
          </a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
